<%- include('partials/header.ejs') %>
    <main>
      <form action="/" method="get" autocomplete="off">
        <input
          type="text"
          name="bookName"
          class="search-book-input"
          id="book-name"
          placeholder="Search the book here"
          required
        />
        <button type="submit" class="search-book-btn">
          <i class="bi bi-search"></i>
        </button>
      </form>
      <h1>Find and organize your favorite books</h1>
      <% if (books) { %> <% books.forEach(book => { %>
      <div class="book-box">
        <div class="book-cover">
          <img src="<%= book.cover %>" alt="Book cover" />
        </div>
        <div class="book-infos">
          <h2><%= book.title %> - by <%= book.author %></h2>
          <p>Publish year: <%= book.year %></p>
          <p><%= book.description %></p>
          <form action="/addBookToList" method="post" class="add-book-to-list">
            <input type="hidden" name="bookKey" value="<%= book.key %>" />
            <input
              type="hidden"
              name="searchQuery"
              value="<%= book.searchQuery %>"
            />

            <% if (book.alreadyAdded) { %>
            <button type="submit" disabled>
              This book is already in your list.
            </button>
            <% } else { %>
            <button type="submit">Add to my list</button>
            <% } %>
          </form>
        </div>
      </div>
      <% }); %> <% } else { %>
      <p>
        Welcome to your new space to discover and track the books you're
        reading! Here, you can search for the title of the book you're starting,
        and once you find it, you can add it to your personal list. After
        adding, you can:
      </p>
      <ul>
        <li>
          <span><i class="bi bi-journal-text"></i></span>
          Take notes about what you're thinking of the book.
        </li>
        <li>
          <span><i class="bi bi-star"></i></span>
          Rate the book and leave your opinion to remember what you thought.
        </li>
        <li>
          <span><i class="bi bi-journal-x"></i></span>
          Remove the book from your list once you've finished it.
        </li>
      </ul>
      <% } %>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
